.services{
	min-height: 500px;
	background-size: cover;
	background-position: center;
	background: linear-gradient(rgba(100,34,78,0.3),rgba(34,100,200,0.4),rgba(200,100,34,0.2)), url(../../../../resources/3.jpg);
	padding: 40px;
}
.serviceHead{
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;

}
.serviceDetail{
	text-align: center;
	color: white;
}