.orderbg{
    background: linear-gradient(rgba(59,102,90,0.6), rgba(111,20,109,0.5), rgba(10,90,100,0.8)), url(../../../../resources/5.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    padding: 50px;
}
.formContent{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 50px;

}
.formInputs{
    width: 100%;
}
.input{
	display: block;
	width: 100%;
	margin: 20px 0;
	height: calc(2.25rem + 2px);
	/* padding: 0.375rem 0.75rem; */
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5;
	color: white;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;    
}
.orderButton{
	background: rgb(21, 21, 73);
	width: 150px;
	height: 40px;
	color: white;
    font-size: 15px;
    text-transform: uppercase;
}
.selectOption{
	background: transparent;
	color: black;
}
.prize{
	display: flex;
}
.selectedPrize{
	all: initial;
	color: white;
	text-align: left;
	justify-content: left;
}