footer{
    color: white;
    height: auto;
     background-color: rgba(0,0,0,0.999);
}

.footerMenu{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 30px;
}
.footerHeadings{
    text-align: center;
    margin: 25px 0;
    color: whitesmoke;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.footerNav li{
    list-style: none;
}

.navLink{
    color: white;
    font-size: 15px;
    padding: 0.5rem 1rem;
}
.navLink:hover{
    background: rgba(230, 228, 224, 0.398);
    border-radius: 5px;
}

footer li{
	margin-bottom: 10px;
    list-style: none;
    font-size: 16px;
}
.contactUs{
    cursor: pointer;
}
.product{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 1rem;

}
.production-chain a{
	color: white;
}
.feedback{
	margin-top: 20px;
	display: flex;
}
.iconBg{
	color: white;
	background-color: orange;
	margin: 5px;
}
form{
    text-align: center;
}
.formInput{
    width: 80%;
    height: 30px;
    border-radius: 10px;
}
.formSubmitBtn{
    margin: 25px 0;
    font-size: medium;
    width: 80px;
    height: 35px;
    border-radius: 9999px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px){
  
    .footerMenu{
        flex-direction: column;
        text-align: start;
    }
    .footerHeadings{
        text-align: start;
        font-size: 17px;
    }
    .footerMenu ul li {
        margin: 0;
    }
}
