.nav{
    background-color: #e0cfcffd;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 30px;
}
.logo2{
    display: none;
}
.navMenu{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.navMenu li{
    margin: 0 15px;
    list-style: none;
}




@media (max-width: 780px){
    .navMenu li{
        font-size: 13px !important;
    }
    .logo1{
        display: none;
    }
    .logo2{
        display: block;
    }

}