.nav{
    background-color: #e0cfcffd;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 30px;
}
.logo2{
    display: none;
}
.navMenu{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    /* align-self: center; */
}
.navMenu li{
    list-style: none;
}

.toggleBtn{
    display: none;
}
.navLink{
    /* margin: 0 15px; */
    padding: 0.7rem 1rem;
    color: white;
    text-transform: capitalize;
    border-radius: 10px;
}

.navLink:hover{
    background: rgba(79, 59, 59, 0.433);
    color: white;
    transition: all 0.3s ease;
}



@media (max-width: 980px){
s
.nav{
    position: relative;
}

    /* .navMenu li{
        font-size: 12px !important;
    } */
    .logo1{
        display: none;
    }
    .logo2{
        display: block;
    }

    .navMenu{
        flex-direction: column;
        width: 100%;
        height: 400px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.4s ease;
    }

    .navMenu.active{
        background-color: rgba(143, 96, 96, 0.96);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        text-align: center;
    }

    .toggleBtn{
        display: block;
        font-size: 30px;
        transition: all 0.5s ease;
    }

}