.coffeeDetailsBanner{
    min-height: 500px;
    background: linear-gradient(rgba(23, 109, 54, 0.658), rgba(109,118,90,0.5), rgba(90,10,107,0.7)), url(../../../../resources/3.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px;
}
.coffeeDetailsContent{
    min-height: 400px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 25px;
    align-items: center;
}
.title{
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bolder;
}
.discription{
    margin: 20px;
    font-size: 1rem;
    font-weight: bold;
}
.details{
    font-size: 16px;
    margin-top: 100px;
    text-overflow: clip;
}